<div class="container px-4 my-1">
    <h1>Huy Tuan Tran</h1>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <span>
                <h2 class="sticky-top bg-white">Junior Software Engineer</h2>
                <p class="d-flex align-items-start" style="text-align: justify;">
                    I build wide range of software applications from desktop apps to responsive web apps and integrate numerous SaaS from Google, Azure, and Twilio to enhance user experience as well as product scale. 
                </p>
            </span>
        </div>
        <div class="col">
            <span>
                <h2 class="sticky-top bg-white">About me</h2>
                <p style="text-align: justify;">
                    I'm a dedicated and passionate Software Engineer with a Bachelor of Science in Software Engineering and a Minor in Computer Science. My journey in the world of technology began with curious and desire to build and scale, and it has evolved into a fulfilling career where I continue to learn, grow, and make impacts.
                    <br/>
                    The journey has taken me through a diverse range of technology stacks, clouds, cross-functiontional team collaboration, and project management.
                    I believe in the power of continous learning, staying updated with the latest trends, and best practices in the field.
                    <br/>
                    Here are a few technologies I've been working recently:
                </p>
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col">
                        <li>ASP.NET CORE and MVC 7</li>
                        <li>Angular 16</li>
                        <li>React 18</li>
                        <li>Node.js</li>
                    </div>
                    <div class="col">
                        <li>Express.js</li>
                        <li>MongoDB</li>
                        <li>SQL Server</li>
                        <li>Microsoft Azure SaaS</li>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="my-3">
        <h2 class="sticky-top bg-white">Work Experience</h2>
        <div class="row row-cols-1 row-cols-md-2 my-1">
            <div class="col col-12 col-md-2">
                June 2022 - August 2023
            </div>
            <div class="col col-12 col-md-10">
                <span>
                    <b>Solution Specialist I @ 
                        <a href="https://www.processanddata.com/"
                            target="_blank">
                            Process and Data Automation
                        </a>
                    </b>
                    <li>
                        Spearheaded a team of 5 in designing, testing, and mitigating a desktop app to a responsive UI app using the Agile and Waterfall stategy.
                    </li>
                    <li>
                        Tracked development process using Excel and GitHub Issues.
                    </li>
                    <li>
                        Engineered and created chat as well as notification services of the company's web app using <b>C#</b>, <b>REST API</b>, <b>SignalR</b>, <b>Bootstrap</b>, <b>Microsoft Graph</b>, and <b>Twilio</b> to increase communication across departments and customer services.
                    </li>
                    <li>
                        Upgraded development environment from <b>.NET Framework 3</b> to <b>4.2</b> and integrated <b>ASP.NET Core 4</b> using OWin to utilize <b>Microsoft Azure SaaS</b>
                    </li>
                    <li>
                        Collaborated with Networking Engineering and Electrical Engineering teams to analyze customer feedback and identify key pain points of the current desktop app.
                    </li>
                    <li>
                        Unit tested and integrated an Electronic Quality Control system into client systems, enhancing client's overall QA/QA process.
                    </li>
                    <li>
                        Debugged and analyzed client's applications resulting in a <b>30% decrease in user complaints</b> and a <b>22% performance increase</b>.
                    </li>
                    <li>
                        Enhanced <b>SQL</b> queries leading to an <b>80% performance increase</b> for exporting production reports.
                    </li>
                    <li>
                        Clients included Erie Water Works, Amy's Kitchen, and Welch's
                    </li>
                </span>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 my-1">
            <div class="col col-12 col-md-2">
                August 2021 - May 2022
            </div>
            <div class="col col-12 col-md-10">
                <span>
                    <b>Freelancer @ 
                        <a href="https://makeabilitylab.cs.washington.edu/project/personalizingsound/"
                            target="_blank">
                            University of Washington - Makeability Lab
                        </a>
                    </b>
                    <li>
                        Collaborated with fellow college students on a hearing project creating a personal sound recognition app alerting users when they are potentially in a noise hazard area.
                    </li>
                    <li>
                        Designed test cases and performed unit tests at noise pollution area.
                    </li>
                </span>
            </div>
        </div>
    </div>
    <div class="my-3">
        <h2 class="sticky-top bg-white">Projects</h2>
        <div class="row row-col-1 justify-content-center">
            <div class="col col-12 col-md-10 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/login" target="_blank" style="text-decoration: none;">Task Tracking App</a>
                        </h5>
                        <p>
                            A web app for tracking personal tasks. View your task status, and add or modify your task.
                        </p>
                        <div class="d-flex flex-wrap my-1">
                            <div class="d-flex justify-content-center border border-blue badge badge-pill badge-info" style="background-color: blue;"><b>MongoDB</b></div>
                            <div class="d-flex justify-content-center border border-blue badge badge-pill badge-info" style="background-color: blue;"><b>Express.JS</b></div>
                            <div class="d-flex justify-content-center border border-blue badge badge-pill badge-info" style="background-color: blue;"><b>Angular</b></div>
                            <div class="d-flex justify-content-center border border-blue badge badge-pill badge-info" style="background-color: blue;"><b>Node.JS</b></div>
                            <div class="d-flex justify-content-center border border-blue badge badge-pill badge-info" style="background-color: blue;"><b>TypeScript</b></div>
                            <div class="d-flex justify-content-center border border-blue badge badge-pill badge-info" style="background-color: blue;"><b>Bootstrap</b></div>
                            <div class="d-flex justify-content-center border border-blue badge badge-pill badge-info" style="background-color: blue;"><b>Heroku</b></div>
                        </div>
                        <div class="d-flex">
                            <a class="px-2" href="" target="_blank" style="text-decoration: none; color: black;">
                                <i class="bi bi-github d-flex justify-content-center align-items-center"></i>
                            </a>
                            <a class="px-2" href="/login" target="_blank" style="text-decoration: none; color: black;">
                                <i class="bi bi-link d-flex justify-content-center align-items-center"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
