<div class="container px-4">
    <h1 class="text-center">Reset Your Password</h1>

    <div class='border border-dark form-group'>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class='d-none row row-cols-1 justify-content-center align-items-center px-2 my-1'>
                <h6 class="text-danger text-center">Invalid Information!</h6>
            </div>
            <div class='row row-cols-1 justify-content-center align-items-center px-2 my-1'>
                <div class="col col-8 col-md-5 col-lg-4">
                    <input class="form-control" type="email" formControlName="email" placeholder="Email">
                </div>
                <span *ngIf="resetPasswordForm.hasError('required', 'email') && (resetPasswordForm.controls['email'].dirty || resetPasswordForm.controls['email'].touched)"
                    class="text-danger text-center">Email is Required!</span>
                <span *ngIf="resetPasswordForm.hasError('email', 'email') && (resetPasswordForm.controls['email'].dirty || resetPasswordForm.controls['email'].touched)"
                    class="text-danger text-center">Email is Invalid!</span>
            </div>
            <div class='row row-cols-1 justify-content-center align-items-center px-2 my-1'>
                <div class="col col-8 col-md-5 col-lg-4">
                    <input class="form-control" type="text" formControlName="fullName" placeholder="Full Name">
                </div>
                <span *ngIf="resetPasswordForm.hasError('required', 'fullName') && (resetPasswordForm.controls['fullName'].dirty || resetPasswordForm.controls['fullName'].touched)"
                    class="text-danger text-center">Full Name is Required!</span>
            </div>
            <div class='d-none row row-cols-1 justify-content-center align-items-center px-2 my-1'>
                <h6 class="text-danger text-center">Invalid Information!</h6>
            </div>
            
            <div *ngIf="cookie!=null" class="row row-cols-1 justify-content-center align-items-center px-2 my-1">
                <div class="col col-8 col-md-5 col-lg-4">
                    <input type="password" placeholder="New Password" class="form-control" formControlName="password">
                </div>
                <span *ngIf="resetPasswordForm.hasError('required', 'password') && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)"
                    class="text-danger text-center">Password is Required!</span>
            </div>
            
            <div class='row row-cols-1 justify-content-center align-items-center px-2 my-1'>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="onSubmit()">Reset Password</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
